* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* get rid of the miserable chrome blue border highlight */
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #040910;
}

.home .header {
    overflow: hidden;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.home .header::before {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/public/assets/background.jpg");
    background-position: center;
    background-size: 100%;
    background: url("/public/assets/background.jpg");
    -webkit-filter: blur(80px);
    filter: blur(80px);
    margin: -25px -20px -20px -25px;
}

.home .header::before,
.home .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    overflow: hidden;
    z-index: -2;
}

.home .header .logo {
    position: absolute;
    z-index: -1;
    margin-top: -10px;
}

.home .header .logo svg {
    width: 900px;
}

.home .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    max-width: 900px;
    margin: auto;
    margin-top: auto;
    gap: 40px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.home .content .item {
    text-decoration: none;
}

.home .content .item .cover img {
    width: 100%;
    border-radius: 10px;
}

.home .content .item .title {
    font-family: Noto Sans Display, sans-serif;
    color: #C8DAEE;
    font-weight: 500;
    font-size: 19px;
}



.podcast .header {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}


.podcast .header::before {
    background-color: rgba(0, 0, 0, 0);
    -webkit-filter: blur(40px);
    filter: blur(40px);

    /* if using these, they need to be on the html */
    /* causes stutter on podcast description expansion */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.podcast .header::after {
    background-color: #04091075;
}

.podcast .header::before,
.podcast .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
}

.podcast .header .top-bar {
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(3, 7, 13, 0.51);
    overflow: hidden;
    height: 70px;
}

.podcast .header .top-bar .logo a {
    display: flex;
}

.podcast .header .top-bar .logo svg {
    width: 235px;
}

.podcast .header .details {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 220px 1fr;
    column-gap: 25px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.podcast .header .details .cover {
    width: 220px;
}

.podcast .header .details .cover img {
    width: 100%;
    border-radius: 5px;
}

.podcast .header .details .info .title {
    font-family: Noto Sans Display, sans-serif;
    color: #C8DAEE;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
}

.podcast .header .details .info .highlight {
    font-family: Noto Sans Display, sans-serif;
    color: #C8DAEE;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 15px;
}

.podcast .header .details .info .highlight span {
    padding: 0 5px;
}

.podcast .header .details .info .highlight a,
.podcast .header .details .info .desc a {
    color: inherit;
}

.podcast .header .details .info .desc {
    font-family: Noto Sans, sans-serif;
    color: #B4C4D6;
    font-weight: 400;
    font-size: 14px;
}

.podcast .header .details .info .desc p {
    margin-bottom: 10px;
}

.podcast .header .details .info .desc button {
    background: none;
    color: inherit;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.podcast .content {
    max-width: 900px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
}

.podcast .content>.title {
    font-family: Noto Sans Display, sans-serif;
    color: #C8DAEE;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 30px;
}

.podcast .content .episodes {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.podcast .content .ep {
    background-color: #080D14;
    border-radius: 5px;
    padding: 15px 20px;
}

.podcast .content .ep .title {
    font-size: 18px;
    font-family: Noto Sans, sans-serif;
    font-weight: 500;
    color: #C8DAEE;
    margin-bottom: 3px;
}

.podcast .content .ep .highlight {
    font-size: 14px;
    font-family: Noto Sans, sans-serif;
    font-weight: 400;
    color: #8996A5;
    margin-bottom: 20px;
}

.podcast .content .ep .highlight span {
    padding: 0 5px;
}

.podcast .content .ep .desc {
    font-size: 14px;
    font-family: Noto Sans, sans-serif;
    font-weight: 400;
    color: #8996A5;
    margin-bottom: 20px;
}

.podcast .content .ep .desc p {
    margin-bottom: 15px;
}

.podcast .content .ep .highlight a,
.podcast .content .ep .desc a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.podcast .content .ep .highlight button {
    background: none;
    color: inherit;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.podcast .content .ep .player audio {
    background-color: #010731;
    border-radius: 5px;
    width: 100%;
}